@media (min-width: 1440px) {
    .proPage .VPDoc:not(.has-sidebar) .content {
        max-width: 1104px;
    }
}

@media (min-width: 960px) {
    .proPage .VPDoc:not(.has-sidebar) .content {
        max-width: 992px;
    }

    .proPage .VPDoc:not(.has-sidebar) .plans-container {
        flex-direction: row;

        .plan {
            width: 50%;

            .header p {
                max-width: 300px;
            }
        }
    }
}


.vp-card {
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.05);
    flex: 1;
    border: 1px solid var(--vp-c-divider-light);
    margin: 1.5em 0;
    border-radius: 10px;
    background-color: var(--vp-c-bg);
    border: 1px solid var(--vp-c-gutter);
    text-align: center;
    overflow: hidden;

    &.free {
        text-align: left;
        background-color: var(--vp-c-bg-soft);
        border: 1px solid var(--vp-c-divider-light);
    }

    &.pro {
        .plan-features {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
        }

        .plan-footer {
            font-size: 10px;
            color: var(--vp-c-text-2) !important;
        }

        .plan-footer a {
            color: var(--vp-c-text-2) !important;
            text-decoration: none;
        }
    }
}

.plans-container {
    flex-direction: column;
    display: flex;
    gap: 2em;
    justify-content: space-around;

    .plan {
        padding: 1em 3em;
        text-align: left;
    }

    .highlight {
        background-color: var(--vp-c-success-soft);

        .plan-name {
            color: var(--vp-c-success-1);
        }
    }
}

@media (min-width: 960px) {
    .plans-container {
        flex-direction: row;
    }

    .vp-card {
        &.free {
            max-width: 350px;
        }
    }
}
.description {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
figure.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    .avatar-img {
        position: initial;
        object-fit: initial;
        max-width: 60%;
        max-height: 60%;
        border-radius: 0;
    }
}

.sp-icon {
    display: none;
}
.sp-link {
    display: none !important;
}

.whyPro .profile {
    background-color: var(--vp-c-brand-soft);
}
.grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    details {
        &, &.custom-block {
            margin: 0;
        }
    }

    .VPButton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
}


details[dashed] {
    &, &.custom-block {
        background-color: transparent;
        border: 1px dashed var(--vp-c-success-3);
    }
}