/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);

    --vp-shadow-2: 0 3px 5px rgba(0, 0, 0, 0.04);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #bd34fe 30%,
        #41d1ff
    );

    --vp-home-hero-image-background-image: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #bd34fe 30%,
        #41d1ff
    );
    --vp-c-brand-3: #108750;
}

:root:not(.dark) {
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #66a6ff 10%,
        #10874d
    );
    --vp-c-bg-soft: #f6f6fc;
    --vp-button-alt-border: var(--vp-c-black);
    --vp-button-alt-bg: var(--vp-c-black);
    --vp-button-alt-text: var(--vp-c-white);
}

// #66a6ff
/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-font-family-base: ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);

    --el-loading-spinner-size: 20px !important;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
.VPContent .VPHome {
    margin-bottom: 0;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}
.VPHomeHero {
    .image {
        overflow: hidden;
        margin: -40px 0 20px 0;

        @media (min-width: 960px) {
            margin: 0;
        }
    }
    .image-bg {
        display: none;
    }
    .image-container {
        transform: none;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--vp-c-gutter);
        width: 100%;
    }

    .text {
        padding-bottom: 1.5rem;
        max-width: 400px;
    }

    .tagline {
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: 0.01em;
        font-weight: normal;
        white-space: pre-wrap;
        color: var(--vp-c-text-2);
    }
    .topPill {
        display: none !important;
    }

    @media (min-width: 960px) {
        &.has-image .container .main {
            max-width: 560px;
            padding-right: 80px;
        }

        .name,
        .text {
            font-weight: 800;
            font-size: clamp(3.5rem, 14vw, 5rem);
            line-height: 100%;
        }

        .topPill {
            display: inline-flex;
        }
    }
}

.VPFeatures {
    position: relative;
    padding: 0 24px;
    background-color: var(--vp-c-bg-soft);

    .container {
        margin: 0 auto;
        max-width: 1152px;
    }

    .items {
        grid-column-gap: 4rem;
        column-gap: 4rem;
        grid-row-gap: 4rem;
        row-gap: 4rem;
    }

    @media (min-width: 640px) {
        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .item.grid-4,
        .item.grid-3 {
            width: auto;
        }
    }

    @media (min-width: 960px) {
        padding-bottom: 5rem !important;
        .items {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .item.grid-4 {
            width: auto;
        }
    }

    .VPFeature {
        line-height: 1.12;
        padding: 15px;

        &.link:hover {
            background-color: var(--vp-c-bg);
            border-color: transparent !important;
        }

        .box {
            padding: 0;
        }

        .title {
            font-size: 1.25rem;
        }

        .details {
            font-size: 1rem;
            line-height: 1.8;
        }
    }

    @media (min-width: 640px) {
        padding: 0 48px;
    }
    @media (min-width: 960px) {
        padding: 0 64px;
    }


    .rv-overline-1 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 120%;
        padding: 4rem 0 1rem 0;
        color: var(--vp-c-text-2);
    }

    .rv-heading-2 {
        font-weight: 700;
        letter-spacing: -0.03em;
        font-size: 2.5rem;
        line-height: 1.12;
        max-width: 400px;
        overflow-wrap: break-word;
    }
}

.VPSidebarItem {
    .VPBadge {
        line-height: 16px;
        padding: 0 6px;
        font-size: 10px;
    }
}
@media (min-width: 1240px) {
    .demo-page-wrapper .demo-container {
        max-width: 1240px;
        width: calc(100vw - ((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width) + 32px * 4));
    }
    .demo-page-class .VPDoc:not(.has-sidebar) .content {
        max-width: 1240px;
    }
}

@media (min-width: 960px) {
    .demo-container {
        max-width: 960px;
        border-radius: 10px;
        border: 1px solid var(--vp-custom-block-info-bg);
    }
}
.demo-container > revo-grid {
    border-radius: 10px;

    revogr-row-headers {
        border-radius: 10px 0 0 0;
    }
    + .custom-block {
        margin: 0;
        border-radius: 0 0 8px 8px;
    }
}

.plugin-tabs--content {
    revo-grid {
        background-color: var(--vp-c-bg);
        border-radius: 8px;
        margin: -5px 0;
    }
}
.example-container {
    revo-grid {
        border-radius: 10px;
        border: 1px solid var(--vp-c-divider);
        overflow: hidden;
    }
}
.example-container + details {
    summary {
        display: flex;
        pointer-events: none;
        align-items: center;
        margin: -8px 0 0 0 !important;
        gap: 10px;

        .source-btn {
            pointer-events: all;
            background-color: var(--vp-c-bg);
            border-radius: 8px;
            padding: 0 1rem;
            line-height: 32px;
            border: 1px solid var(--vp-c-divider);
            transition: border-color 0.3s;

            &:hover {
                border-color: var(--vp-c-border);
            }
        }
    }

    .external {
        pointer-events: all;
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }
}